#Ignore files build by Visual Studio
#Ignore files from MonoDevelop
#ignore thumbnails created by windows
**/FSharp.Core.resources.dll
**/Properties/AssemblyInfo.cs
**/binDebug/*
*- Copy.*
*.*#
*.*~
*.aps
*.bak
*.cache
*.csproj.user
*.idea
*.ilk
*.lib
*.log
*.ncb
*.obj
*.pch
*.pdb
*.pidb
*.resharper*
*.sbr
*.suo
*.tlb
*.tlh
*.user
*.userprefs
*.vspscc
*.wixobj
*.wixpdb
*/packages/*
*_i.c
*_p.c
.vs/
/dlls/nodejs/*
/prototypes/cc/node_modules/*
/ssc/FlashSetup/setup/FlashSetup.msi
/ssc/FlashSetup/setup/FlashSetup.wixpdb
/ssc/FlashSetup/setup/HTMLSetup.msi
/ssc/FlashSetup/setup/HTMLSetup.wixpdb
/ssc/FlashSetup/setup/Product.wixobj
/ssc/HTMLSetup/setup/HTMLSetup.msi
/ssc/HTMLSetup/setup/HTMLSetup.wixpdb
/ssc/HTMLSetup/setup/Product.wixobj
/ssc/Product.wixobj
/ssc/SetupFiles/Microsoft.Deployment.WindowsInstaller.dll
/ssc/SetupFiles/Microsoft.Deployment.WindowsInstaller.xml
/ssc/SetupFiles/OpenExcel/Properties/AssemblyInfo.cs
/ssc/Ssc.XlParser/Backup
/ssc/Ssc.XlParser/UpgradeLog.htm
/ssc/e2o2/*.vsp
/ssc/e2o2/*.vsps
/ssc/e2o2/Backup
/ssc/e2o2/Backup/FsUtilities
/ssc/e2o2/UpgradeLog.htm
/ssc/ssc.qajs/ssc.qajs/Properties/AssemblyInfo.cs
/ssc/sscaddin/QuicknodeShare/Properties/AssemblyInfo.cs
/ssc/sscaddin/TestCases2Console/Properties/AssemblyInfo.cs
/ssc/sscaddin/UpgradeLog.htm
/ssc/sscaddin/tools/ExtractWixMsi_local.bat
/ssc/ssclc_core/ssclc/ssclcconsole/publish
/ssc/sscview/AppDataLibrary.dll
/ssc/sscview/CLC.ini
/ssc/sscview/CommandlineConverter.exe
/ssc/sscview/ConverterLibrary.dll
/ssc/sscview/DocumentFormat.OpenXml.dll
/ssc/sscview/DocumentFormat.OpenXml.xml
/ssc/sscview/FSharp.Core.dll
/ssc/sscview/FSharp.PowerPack.Compatibility.dll
/ssc/sscview/FSharp.PowerPack.dll
/ssc/sscview/GalaSoft.MvvmLight.WPF4.dll
/ssc/sscview/GlobalConfigLibrary.dll
/ssc/sscview/Gma.QrCodeNet.Encoding.dll
/ssc/sscview/HelperLibrary.dll
/ssc/sscview/HelpersNonExcel.dll
/ssc/sscview/HtmlAgilityPack.dll
/ssc/sscview/Ionic.Zip.dll
/ssc/sscview/JavascriptProjects/tmp/
/ssc/sscview/ModelLibrary.dll
/ssc/sscview/Newtonsoft.Json.dll
/ssc/sscview/Newtonsoft.Json.xml
/ssc/sscview/ProgressBarLib.dll
/ssc/sscview/RestSharp.dll
/ssc/sscview/SSCStd.dll
/ssc/sscview/Ssc.View.Nodejs/Properties/AssemblyInfo.cs
/ssc/sscview/Ssc.XlParser.dll
/ssc/sscview/Ssc.XlParser.xml
/ssc/sscview/SupportFiles/*.dll
/ssc/sscview/SupportFiles/*.pdb
/ssc/sscview/SupportFiles/*.xml
/ssc/sscview/SupportFiles/ViewManager.exe.config
/ssc/sscview/SupportFiles/*.exe
/ssc/sscview/System.Data.SQLite.dll
/ssc/sscview/WebChartComponentLibrary.dll
/ssc/sscview/WebChartControllerLibrary.dll
/ssc/sscview/WpfControlLibrary.dll
/ssc/sscview/WpfControlLibrary.dll.config
/ssc/sscview/XerLibrary.dll
/ssc/sscview/nunit.framework.dll
/ssc/sscview/nunit.framework.xml
/ssc/sscview/ssc.profiler.dll
/ssc/sscview/ssclc.dll
/sscdll
/sscdll/FSharp.PowerPack.Compatibility.dll
/sscdll/FSharp.PowerPack.dll
/sscdll/Ssc.XlParser.XML
/sscdll/Ssc.XlParser.dll
/sss3/sss3/g/temp/
/sss4/antlr1/PTokenTypes.txt
/testsoftware/*
ClientBin
Download/
SerializerTest*/
Thumbs.db
[Bb]in
[Tt]est[Rr]esult*
_ReSharper*/
dlls/System.Data.SQLite.dll
dlls/x64/
dlls/x86/
license/lic4/App_Data/LicenseDb.mdf
license/lic4/App_Data/LicenseDb_log.ldf
obj/
ssc/**/packages/*
ssc/HTMLSetup/Product.msi
ssc/SetupFiles/Newtonsoft.Json.dll
ssc/SetupFiles/Newtonsoft.Json.xml
ssc/SetupFiles/RestSharp.dll
ssc/SetupFiles/SSCCustomAction.dll
ssc/SetupFiles/System.Data.SQLite.dll
ssc/SetupFiles/ssc.profiler.dll
ssc/SetupFiles/x64/
ssc/SetupFiles/x86/
ssc/WrapCreatorSetup/*
ssc/e2o3/CsUtilities/bin/*
ssc/e2o3/CsUtilities/obj/*
ssc/e2o3/FsUtilities/bin/*
ssc/e2o3/FsUtilities/obj/*
ssc/e2o3/e2o2/bin/*
ssc/e2o3/e2o2/obj/*
ssc/e2o3/e2o2base/bin/*
ssc/e2o3/e2o2base/obj/*
ssc/e2o3/e2o2core/bin/*
ssc/e2o3/e2o2core/obj/*
ssc/e2o3/e2o2parser/Parser.fs
ssc/e2o3/e2o2parser/Parser.fsi
ssc/e2o3/e2o2parser/bin/*
ssc/e2o3/e2o2parser/css21.fs
ssc/e2o3/e2o2parser/format_lexer.fs
ssc/e2o3/e2o2parser/format_lexer_text.fs
ssc/e2o3/e2o2parser/format_parser.fs
ssc/e2o3/e2o2parser/format_parser.fsi
ssc/e2o3/e2o2parser/html_lexer.fs
ssc/e2o3/e2o2parser/html_parser.fs
ssc/e2o3/e2o2parser/html_parser.fsi
ssc/e2o3/e2o2parser/lexer.fs
ssc/e2o3/e2o2parser/lexerR1C1.fs
ssc/e2o3/e2o2parser/obj/*
ssc/e2o3/e2o2parser/parserR1C1.fs
ssc/e2o3/e2o2parser/parserR1C1.fsi
ssc/e2o3/mylexyacc/bin/*
ssc/e2o3/mylexyacc/obj/*
ssc/sscaddin/UpgradeLog2.htm
ssc/sscview/SupportFiles/Html.Api.EmailTemplate.dll
ssc/sscview/SupportFiles/Html.Api.LocalStorage.dll
ssc/sscview/SupportFiles/Html.Api.Widget.dll
ssc/sscview/SupportFiles/Html.ContentBuilder.dll
ssc/sscview/SupportFiles/Html.Widget.Jquery.dll
ssc/sscview/SupportFiles/Ssc.View.WrapCreator.dll
ssc/sscview/SupportFiles/Ssc.View.WrapCreator.dll
ssc/sscview/SupportFiles/View.Html.dll
ssc/sscview/SupportFiles/View.Util.dll
ssc/sscview/SupportFiles/View.WebChart.dll
ssc/sscview/SupportFiles/View.WrapCreator.dll
ssc/sscview/SupportFiles/ssc.qajs.exe.config
ssc/sscview/WrapCreator.dll
ssc/sscview/WrapCreator.dll
sss3/sss3/Properties/AssemblyInfo.cs
~$*
/ssc/sscview/XerLibrary.dll.config
/to_remove
/sss3/to_delete
/sss3/mydlls/to_delete
/sss3/MyUtils/XLGrid/to_delete
/sss3.backup/MyUtils/XLGrid/to_delete/Implementation Ideas
/sss3.backup
*.clef
/sss3/Xmldb.backup
*.sarif
/sqldb
/sss3/mydlls/pd4ml-purchase
/ctags-run.cmd
/tags
/accounts to remove.xlsx
/fix-single-accounts.sql
/fix-single-accounts.txt
/reduced.xlsx
/deadaccounts.xlsx
